
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <h2 class="albums__title">{{album.title || ''}}</h2>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-photo
    *ngFor="let item of photos; index as i;"
    [item]="item"
  >
  </app-photo>
</ion-content>
