

<ion-header>
  <ion-toolbar>
    <ion-searchbar
      color="dark"
      placeholder="Buscar"
      (ionChange)="filter($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-app class="albums">
  <ion-router-outlet></ion-router-outlet>
</ion-app>
