<ion-header>
  <ion-toolbar>
    <h2 class="albums__title">Albums</h2>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-album
    *ngFor="let item of albums; index as i;"
    [item]="item"
  >
  </app-album>
</ion-content>
