<ion-card>
  <img [src]="item.thumbnailUrl" />
  <ion-card-header>
    <ion-card-subtitle>Photo</ion-card-subtitle>
    <ion-card-title>{{item.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <a target="_blank" [href]="item.url">{{item.url}}</a>
   </ion-card-content>
</ion-card>